.scene1 {
    position: relative;
    width: 200%;
    height: 600px;
    left: 0%;
    background-repeat: repeat-x;
}

.sky {
  background: linear-gradient(#87ceeb, #e0f6ff);
  width: 400%;
  height: 400px;
  animation: moveSky 1000s linear infinite;
}

.tree {
    position: absolute;
    width: 150px;
    height: 235px;
    bottom: 200px;
    animation: moveTree 15s linear infinite;
}
.tree img{
    width: 150px;
    height: auto;
}

.cloud {
    position: absolute;
    width: 150px;
    height: 64px;
}
.cloud img{
    width: 150px;
    height: auto;
}

#cloud1{
    top: 100px;
    left: 50px;
}

#cloud2{
    top: 50px;
    left: 500px;
}

.notes {
  position: absolute;
  top: -20px;
  left: 0px;
  pointer-events: none;
}

@keyframes floatNote {
  0% {
    transform: translate(0, 0) scale(0.8);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), -80px) scale(1.2);
    opacity: 0;
  }
}

.note {
  position: absolute;
  font-size: 20px;
  opacity: 0;
  animation: floatNote 2.5s ease-out forwards;
}

.jcole{
  position: absolute;
  top: 280px;
  left: 50%;
  width: 150px;
  height: 150px;
}

.coleMove{
  animation: move 3s ease-out forwards;
}

@keyframes move {
  from {
    left: 50%;
  }
  to {
    left: -1000px;
  }
}

.jhead{
  position: absolute;
  width: 120px;
  height: auto;
  left: 29px;
  top: -75px;
  transform-origin: bottom;
  animation: nod 1.5s infinite;
}

@keyframes nod {
  0% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}

.jside{
  position: absolute;
  width: 110px;
  height: auto;
  left: 24px;
  top: -87px;
}

.jback{
  position: absolute;
  width: 180px;
  height: auto;
  left: 5px;
  top: -105px;
}

.bicycle{
  position: absolute;
  width: 150px;
  height: auto;
  z-index: 1;
}

.wheel{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: linear-gradient(45deg, #9ce1ff, #0f172a);
  border: 3px solid black;
}

.wheelRoll{
  animation: roll 1s linear infinite;
}

.wheelRoll1{
  animation: roll 0.5s linear infinite;
}

#wheel1{
  position: absolute;
  bottom: -40px;
  left: -54px;
}

#wheel2{
  position: absolute;
  bottom: -40px;
  left: 84px;
}

@keyframes roll {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.grass {
  background: #15d70e;
  width: 200%;
  height: 200px;
  animation: moveGrass 1000s linear infinite;
}

@keyframes moveSky {
  from { transform: translateX(0); }
  to { transform: translateX(-300%); }
}

@keyframes moveTree {
  from { transform: translateX(0); }
  to { transform: translateX(1000%); }
}

@keyframes moveGrass {
  from { transform: translateX(0); }
  to { transform: translateX(-300%); }
}

.a-minor {
  position: absolute;
  top: 30%;
  left: 20px;

  font-size: 40px;
  font-weight: 900;
  letter-spacing: 3px;
  color: #000;

  transform-origin: left center;
  pointer-events: none;
  z-index: 20;
}

.scream {
  animation: slideScream 0.7s ease-out forwards;
}

@keyframes slideScream {
  from {
    transform: translateX(-120%) rotate(-30deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(-30deg);
    opacity: 1;
  }
}

.scream span {
  display: inline-block;
  animation: screamShake 0.12s infinite;
}

/* small random-looking offsets */
@keyframes screamShake {
  0%   { transform: translate(0, 0) rotate(0); }
  25%  { transform: translate(1px, -1px) rotate(-1deg); }
  50%  { transform: translate(-1px, 1px) rotate(1deg); }
  75%  { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(0, 0) rotate(-1deg); }
}
