.drake {
    position: absolute;
    width: 127px;
    height: 240px;
    /* left: 75%; */
    right: 100px;
    top: 260px;
    transform-origin: bottom right;
}

.dmove{
    animation: dmove 1.5s infinite;
}

@keyframes dmove {
    0% { top: 260px; transform: rotate(0deg); }
    50% { top: 250px; transform: rotate(-10deg);}
    100% { top: 260px; transform: rotate(0deg); }
}

.dbody {
    position: absolute;
    /* width: 410px;
    height: 710px; */
    width: 164px;
    height: 284px;
    z-index: 1;
}
.dbody2 {
    position: absolute;
    /* width: 410px;
    height: 710px; */
    width: 164px;
    height: 284px;
    z-index: 1;
}
.dbody1 {
    position: absolute;
    /* width: 410px;
    height: 710px; */
    width: 164px;
    height: 284px;
    z-index: 1;
}
.dmic-sing{
    position: absolute;
    width: 25px;
    height: auto;
    left: 2px;
    top: 15px;
    transform: rotate(20deg);
}
.dmic-hold{
    position: absolute;
    width: 25px;
    height: auto;
    left: 22px;
    top: 45px;
    transform: rotate(-10deg);
}

.dhand1 {
    position: absolute;
    width: 80px;
    height: auto;
    left: 30px;
    top: 35px;
    transform: rotate(-70deg);
    z-index: 1;
}

.dhand1sing {
    position: absolute;
    width: 80px;
    height: auto;
    left: -3px;
    top: 40px;
    transform-origin: top ;
    transform: rotate(-10deg);
    z-index: 1;
}

.dhand2 {
    position: absolute;
    width: 70px;
    height: auto;
    left: -36px;
    top: -15px;
    transform-origin: right ;
    transform: rotate(-30deg);
}
.dhandmove{
    animation: dhandwave 1s infinite;
}

@keyframes dhandwave {
    0% { transform: rotate(-30deg); }
    50% { transform: rotate(-60deg); }
    100% { transform: rotate(-30deg); }
}

.dhead{
    position: absolute;
    /* width: 277px;
    height: 380px; */
    width: 72.9px;
    height: 100px;
    top: -45px;
    right: 58px;
    z-index: -1;
}

.dhead2{
    position: absolute;
    /* width: 352px;
    height: 453px; */
    width: 72.9px;
    height: auto;
    top: -42px;
    right: 60px;
    z-index: -1;
}