@keyframes glitch{
    0% { transform: translate(0,0); opacity: 1; }
    25%{ transform: translate(-2px,1px); opacity:.7; }
    50%{ transform: translate(2px,-1px); opacity:.5; }
    75%{ transform: translate(-1px,2px); opacity:.8; }
    100%{ transform: translate(0,0); opacity:1; }
}
.glitch{
    animation: glitch 0.15s infinite;
}

.fallani{
  transition: transform 0.8s ease, opacity 0.4s ease;
}

@keyframes headFall {
  0% {
    transform: translate(0,0) rotate(0);
  }
  30% {
    transform: translate(-10px,-20px) rotate(-10deg);
  }
  100% {
    transform: translate(-50px,180px) rotate(-40deg);
  }
}

.headFall{
  animation: headFall 10s forwards;
}

@keyframes headBuild {
  0% {
    transform: translate(-50px,180px) rotate(-40deg);
  }
  30% {
    transform: translate(-10px,-20px) rotate(-10deg);
  }
  100% {
    transform: translate(0,0) rotate(0);
  }
}

.headBuild{
  animation: headBuild 13s forwards;
}

@keyframes hand1Fall {
  0% {
    transform: rotate(25deg);
  }
  30% {
    transform: translate(10px,-15px) rotate(40deg);
  }
  100% {
    transform: translate(70px,220px) rotate(90deg);
    top: -100px;
    left: 200px;
  }
}

.hand1Fall{
  animation: hand1Fall 10s forwards;
}

@keyframes hand1Build {
  0% {
    transform: translate(70px,220px) rotate(90deg);
    top: -100px;
    left: 200px;
  }
  30% {
    transform: translate(10px,-15px) rotate(40deg);
  }
  100% {
    transform: rotate(25deg);
    top: 24px;
    left: 42px;
  }
}

.hand1Build{
  animation: hand1Build 5s forwards;
}

@keyframes hand2Fall {
  0% {
    transform: translate(0,0);
  }
  30% {
    transform: translate(-10px,-10px) rotate(-20deg);
  }
  100% {
    transform: translate(-80px,210px) rotate(180deg);
    top: 0px;
  }
}

.hand2Fall{
  animation: hand2Fall 10s forwards;
}

@keyframes hand2Build {
  0% {
    transform: translate(-80px,210px) rotate(180deg);
    top: 0px;
  }
  30% {
    transform: translate(-10px,-10px) rotate(-20deg);
  }
  100% {
    transform: translate(0,0)
    rotate(0deg);
    top: 35px;
  }
}

.hand2Build{
  animation: hand2Build 10s forwards;
}

@keyframes bodyFall {
  0% {
    transform: translate(0,0);
  }
  30% {
    transform: translate(0,-10px);
  }
  100% {
    transform: translate(0,260px) rotate(10deg);
    top: -110px;
    left: 120px;
  }
}

.bodyFall{
  animation: bodyFall 10s forwards;
}

@keyframes bodyBuild {
  0% {
    transform: translate(0,260px) rotate(10deg);
    top: -110px;
    left: 120px;
  }
  30% {
    transform: translate(0,-10px);
  }
  100% {
    transform: translate(0,0);
    top: 0px;
    left: 0px;
  }
}

.bodyBuild{
  animation: bodyBuild 10s forwards;
}

@keyframes body1Fall {
  0% {
    transform: translate(0,0);
  }
  30% {
    transform: translate(0,-10px);
  }
  100% {
    transform: translate(0,260px) rotate(10deg);
    top: -110px;
    left: 120px;
  }
}

.body1Fall{
  animation: body1Fall 10s forwards;
}

@keyframes body1Build {
  0% {
    transform: translate(0,260px) rotate(10deg);
    top: -110px;
    left: 120px;
  }
  30% {
    transform: translate(0,-10px);
  }
  100% {
    transform: translate(0,0);
    top: 0px;
    left: 0px;
  }
}

.body1Build{
  animation: body1Build 10s forwards;
}

@keyframes leg1Fall {
  0% {
    transform: translate(0,0);
  }
  30% {
    transform: translate(0,-10px);
  }
  100% {
    transform: translate(0,260px) rotate(90deg);
    top: -140px;
    left: 200px;
  }
}

.leg1Fall{
  animation: leg1Fall 10s forwards;
}

@keyframes leg1Build {
  0% {
    transform: translate(0,260px) rotate(90deg);
    top: -140px;
    left: 200px;
  }
  30% {
    transform: translate(0,-10px);
  }
  100% {
    transform: translate(0,0);
    top: 0px;
    left: 0px;
  }
}

.leg1Build{
  animation: leg1Build 10s forwards;
}

@keyframes leg2Fall {
  0% {
    transform: translate(0,0);
  }
  30% {
    transform: translate(0,-10px);
  }
  100% {
    transform: translate(0,260px) rotate(90deg);
    top: -200px;
    left: -100px;
  }
}

.leg2Fall{
  animation: leg2Fall 10s forwards;
}

@keyframes leg2Build {
  0% {
    transform: translate(0,260px) rotate(90deg);
    top: -200px;
    left: -100px;
  }
  30% {
    transform: translate(0,-10px);
  }
  100% {
    transform: translate(0,0);
    top: 0px;
    left: 0px;
  }
}

.leg2Build{
  animation: leg2Build 10s forwards;
}

@keyframes big {
  0%   { transform: scale(1); }
  30%  { transform: scale(1.25); }
  60%  { transform: scale(1.5); }
  100% { transform: scale(1.5); }

}

.big{
  animation: big 1s linear forwards;
}

.micRotate{
  left: 105px;
  top: -20px;
}

.hand1Left{
  left: 30px;
}

.hand1Top{
  top: -15px;
}

.hand2Left{
  left: 130px;
}

.hand2Top{
  top: 0px;
}

.headLeft{
  left: 35px;
}

.headTop{
  top: -115px;
}