.scene2 {
    position: relative;
    width: 100%;
    height: 600px;
}

.kdot1{
    position: relative;
    left: 100px;
    top: 250px;
    width: 150px;
    height: 280px;
    /* transform-origin: ; */
    /* transform: rotate(10deg); */
    animation: bounce .5s alternate ease-in-out infinite;
}

@keyframes bounce {
    0% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}

.kfront{
    /* width: 581px;
    height: 1049px; */
    width: 145px;
    height: 262px;
}

.khead1{
    position: absolute;
    /* width: 433px;
    height: 533px; */
    width: 87px;
    height: 106px;
    left: 27px;
    top: 3px;
}

.prize{
    position: absolute;
    width: 150px;
    height: auto;
    left: -3px;
    top: -120px;
}

.drake1{
    position: absolute;
    right: 100px;
    animation: bounce .5s alternate ease-in-out infinite;
}

.dfront{
    /* width: 485px;
    height: 799px; */
    width: 162px;
    height: 266px;
}

.dhead1{
    position: absolute;
    /* width: 273px;
    height: 393px; */
    width: 78px;
    height: 112px;
    left: 40px;
    top: -30px;
}

.jcole1{
    position: absolute;
    top: 400px;
    left: -1000px;
    width: 150px;
    height: 150px;
    transform: scaleX(-1);
    animation: move1 4s ease-out forwards;
}

.coleMove1{
  animation: move1 3s ease-out forwards;
}

@keyframes move1 {
  from {
    left: -100px;
  }
  to {
    left: 60%;
  }
}

.jcole2{
    position: absolute;
    top: 400px;
    left: 50%;
    width: 150px;
    height: 150px;
    animation: move2 4s ease-out forwards;
}

.coleMove2{
  animation: move2 3s ease-out forwards;
}

@keyframes move2 {
  from {
    left: 60%;
  }
  to {
    left: -1000px;
  }
}