.shadow{
    position: absolute;
    width: 200px;
    height: auto;
    left: -200px;
    bottom: 80px;
}
#shadow{
    left: -200px;
}
#shadow1{
    left: -150px;
}
#shadow2{
    left: -70px;
}
 .shadowmove{
    animation: shadow 1s;
}
@keyframes shadow{
    0%{ left: -200px; }
    100%{ left: -150px; }
}
 .shadowmove1{
    animation: shadow1 1s;
}
@keyframes shadow1{
    0%{ left: -150px; }
    100%{ left: -70px; }
}
.kdot{
    position: absolute;
    width: 150px;
    height: 200px;
    /* left: 100px; */
    bottom: 80px;
    left: -200px;
}
 .kshow{
    animation: kshow 1s;
}
@keyframes kshow{
    0%{ left: -200px; }
    100%{ left: 100px; }
}
.khead{
    position: absolute;
    width: 50px;
    height: auto;
    top: -7px;
    left: 115px;
    z-index: 10;
}
 .khead1{
    position: absolute;
    width: 500px;
    height: auto;
    top: -35px;
    left: 150px;
    z-index: 10;
}
 .kheadbig{
    animation: kheadbig 1s;
}
@keyframes kheadbig{
    0%{ left: 115px; width: 50px; top: -7px; }
    100%{ left: 50px; width: 500px; top: -350px; }
}
@keyframes headShake {
  0%   { transform: rotate(0deg); left: 145px; }
  15%  { transform: rotate(-10deg); left: 155px; }
  30%  { transform: rotate(10deg); left: 145px; }
  45%  { transform: rotate(-5deg); left: 155px; }
  60%  { transform: rotate(8deg); left: 145px; }
  75%  { transform: rotate(-9deg); left: 155px; }
  100% { transform: rotate(0deg); left: 145px; }
}

.head-shake {
  animation: headShake 0.4s ease-in-out infinite;
}

.khand1{
    position: absolute;
    width: 25px;
    height: auto;
    left: 92px;
    top: 67px;
}
.kleg1{
    position: absolute;
    width: 60px;
    height: auto;
    left: 91px;
    bottom: 7px;
    z-index: 1;
    transform-origin: top;
}
.kleg2{
    position: absolute;
    width: 40px;
    height: auto;
    left: 145px;
    bottom: 0;
    transform-origin: top;
}
 .kleg1move{
    animation: kleg1 1s linear infinite;
}
@keyframes kleg1{
    0%{ transform: rotate(10deg); }
    50%{ transform: rotate(-60deg); bottom: -5px; }
    100%{ transform: rotate(10deg); }
}
.kleg2move{
    animation: kleg2 1s linear infinite;
}
@keyframes kleg2{
    0%{ transform: rotate(-10deg); }
    50%{ transform: rotate(40deg); bottom: -5px; }
    100%{ transform: rotate(-10deg); }
}
.kbody1{
    position: absolute;
    width: 70px;
    height: auto;
    left: 110px;
    top: 50px;
    z-index: 2;
}

.kdot1{
    position: absolute;
    width: 150px;
    height: 200px;
    left: 100px;
    bottom: 80px;
    z-index: 9;
}
 .kmove{
    animation: kmove 2.5s linear infinite;
}
@keyframes kmove{
    0%{ left: 10%; }
    100%{ left: 70%; }
}
 .kmove1{
    animation: kmove1 2.5s linear infinite;
}
@keyframes kmove1{
    0%{ left: 70%; }
    100%{ left: 10%; }
}
.khand11{
    position: absolute;
    width: 28px;
    height: auto;
    left: 85px;
    top: 52px;
}
.khand2{
    position: absolute;
    width: 28px;
    height: auto;
    left: 100px;
    top: 45px;
    z-index: 3;
}
.kleg11{
    position: absolute;
    width: 60px;
    height: auto;
    left: 91px;
    bottom: 7px;
    z-index: 1;
    transform-origin: top;
}
.kleg21{
    position: absolute;
    width: 40px;
    height: auto;
    left: 145px;
    bottom: 0;
    transform-origin: top;
}
.kbody{
    position: absolute;
    width: 85px;
    height: auto;
    left: 105px;
    top: 0px;
    z-index: 2;
}

.mustard{
    position: absolute;
    width: 150px;
    height: 200px;
    right: 50px;
    bottom: 80px;
}
.dj{
    position: absolute;
    width: 150px;
    height: auto;
    bottom: 0;
    right: 20px;
}
.mhead{
    position: absolute;
    width: 50px;
    height: auto;
    right: 47px;
    top: 5px;
    z-index: 1;
}
.mheadmove{
    animation: mheadmove .5s infinite;
}
@keyframes mheadmove{
    0%{ right: 47px; top: 5px; }
    50%{ right: 50px; top: 8px; }
    100%{ right: 47px; top: 5px; }
}

.sza{
    position: absolute;
    width: 150px;
    height: 200px;
    right: 125%;
    bottom: 80px;
    /* right: 200px; */
    z-index: 1;
}
.smove{
    animation: smove 8s;
}
@keyframes smove{
    0%{ right: 125%; }
    100%{ right: 200px; }
}
.smove1{
    animation: smove1 2s;
}
@keyframes smove1{
    0%{ left: 380px; }
    100%{ left: -350px; }
}
.sbody{
    position: absolute;
    width: 150px;
    height: auto;
    z-index: 1;
}
.box{
    position: absolute;
    width: 250px;
    height: auto;
    left: 80px;
    /* bottom: -20px; */
    bottom: -20px;
}
.box1{
    position: absolute;
    width: 250px;
    height: auto;
    left: 0px;
    /* bottom: -20px; */
    bottom: 100px;
    transform: rotate(-30deg);
}
.flip{
    transform: scaleX(-1);
}
.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border: none;
    color: white;
    padding: 13px 26px;
    border-radius: 7px;
    cursor: pointer;
}

.scene {
    position: relative;
    width: 100%;
    height: 600px;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
}

.body {
    margin: 0;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 750px;
}

body{
    margin: 0;
    background-color: black;
}

.hidden{
    display: none;
}