.sza{
    position: absolute;
    width: 70px;
    height: 160px;
    left: -40%;
    bottom: 150px;
}
.splace{
    left: 40%;
}
.sslide{
    animation: sslide 4s linear;
}
@keyframes sslide{
    from{left: -40%}
    to{left: 40%}
}
.shand1{
    position: absolute;
    width: 65px;
    height: auto;
    left: 75px;
    top: 17px;
    transform-origin: left;
    z-index: 12;
    animation: shandwave 1s infinite;
}
.shandwave{
    animation: shandwave 1s infinite ;
}

@keyframes shandwave {
    0% { transform: rotate(50deg); }
    50% { transform: rotate(-20deg); }
    100% { transform: rotate(50deg); }
}
.sleg1{
    position: absolute;
    width: 40px;
    height: auto;
    bottom: -10px;
    left: 30px;
    z-index: 1;
}
.sleg2{
    position: absolute;
    width: 40px;
    height: auto;
    bottom: -10px;
    left: 55px;
}
.shead{
    position: absolute;
    width: 120px;
    height: auto;
    /* top: -20px;
    left: 25px; */
    z-index: 11;
}
.hat{
    position: absolute;
    width: 90px;
    height: auto;
    top: -35px;
    left: 10px;
    z-index: 12;
}
.szaHead{
    position: absolute;
    top: -36px;
    left: 2px;
}
.sbody{
    position: absolute;
    width: 100px;
    height: auto;
    z-index: 15;
}